<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Imperial Boootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate-css/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Imperial
    Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="img/logohannah.png" alt="Imperial">
        </div>

        <h1>Welcome to The Beute Clinic</h1>
        <h2>We care
          <span class="rotating">about your feet, about your health, about your happiness :)</span>
        </h2>
        <div class="actions">
          <a href="#contact" class="btn-get-started">Book an appointment</a>
          <a href="#services" class="btn-services">Check all Treatments</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Header Section
  ============================-->
  <header id="header" style="">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero">
          <img src="img/logo.png" alt="" title="" /></img>
        </a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active">
            <a href="#hero">Home</a>
          </li>
          <li>
            <a href="#about">About Us</a>
          </li>
          <li>
            <a href="#services">Treatments</a>
          </li>
          <li>
            <a href="#testimonials">Happy patients</a>
          </li>
          <li>
            <a href="#team">Our Team</a>
          </li>

          <li>
            <a href="#contact">Contact Us</a>
          </li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">About Us</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Welcome to the Beute Clinic, here you will find the podiatry service you were looking for</p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-md-push-6 about-content">
          <h2 class="about-title">We are waiting for you :)</h2>
          <p class="about-text">
            The clinic has recently been refurbished with the patient’s needs and comfort at the centre of the renovation. There is parking
            directly in front of the clinic, and the doorways have been widened to accommodate wheel chair access. We have
            tea and coffee making facilities and there are male, female and disabled toilets on site. The clinical room has
            been fitted with the latest state of the art equipment to comply with national regulations in health and safety.
            The treatment room has also been fitted with a monitor to enable patients to watch treatment as it is taking
            place.
          </p>
          <p class="about-text">
            Today, the treatment of medical instruments and accessories is an indispensable part of quality assurance in medically-oriented
            practices. We aim to maintain the highest level of hygiene standards and have invested in the new Thermoclean
            which cleans all the equipment by removing protein deposits and debris using an enzymatic tablet. The instruments
            are then placed in a sealed pouch and placed in the new Euronda Autoclave which sterilises for 30 minutes at
            134 degrees. Floors are hoovered, and where applicable steam cleaned; the treatment couch is re-dressed in disposable
            covers after every appointment and all surface areas are cleaned with disposable disinfection wipes.
          </p>
          <p class="about-text">

          </p>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Services Section
  ============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Treatments</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Check out all the podiatry treatments available at the Beute Clinic</p>
        </div>
      </div>

      <div class="row">


        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">
              <h4 class="service-title">
                <a href="">First Visit and Assessment</a>
              </h4>
              <p class="service-description">One hour medical assessment and treatment. This appointment will help determine the length of time required
                for any future treatments.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">
              <h4 class="service-title">
                <a href="">Repeat Visit</a>
              </h4>
              <p class="service-description">A 30 minute routine treatment. 60</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">
              <h4 class="service-title">
                <a href="">Pronto</a>
              </h4>
              <p class="service-description">A 20 minute appointment for nail care or the treatment of a single problem area ie: a corn (Note: the Pronto
                service is only offered to patients who have completed a First Visit Assessment).</p>
            </div>
          </div>
        </div>


        <div class="col-md-12 top-buffer"></div>



        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">
              <h4 class="service-title">
                <a href="">Medi Pedi</a>
              </h4>
              <p class="service-description">Description on other treatments</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">
              <h4 class="service-title">
                <a href="">Diabetic Foot Assessment</a>
              </h4>
              <p class="service-description">A 20 minute foot assessment using ultrasound to measure the amount of blood flow to the feet; together with
                a test to check for any loss of protective sensation. A full report of the assessment is provided.</p>
            </div>
          </div>
        </div>


        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">
              <h4 class="service-title">
                <a href="">Nail surgery</a>
              </h4>
              <p class="service-description">A one hour appointment to remove the whole or part of the effected toe nail. A chemical called phenol is used
                to ensure the offending portion of nail does not grow back. Nail surgery without phenalisation is also provided.
                Patients are assessed for suitability of surgery and referred to the hospital if deemed unsuitable.</p>
            </div>
          </div>
        </div>


        <div class="col-md-12 top-buffer"></div>

        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">
              <h4 class="service-title">
                <a href="">Verruca Treatment</a>
              </h4>
              <p class="service-description">In this 30 minute session, liquid nitrogen and salicylic acid is used to freeze/thaw and destroy the skin cells
                affected by the verruca virus. After treatment, a sore blister will form, followed by a scab, which will
                detach 7-10 days later. This usually takes 15- 20 minutes. Treatments are usually spaced a week apart.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">

              <h4 class="service-title">
                <a href="">Biomechanical Assessment</a>
              </h4>
              <p class="service-description">Examines the manor in which feet function when weight bearing and non weight bearing as well as during gait.
                This test checks for abnormalities and possible causes of pain in the foot, ankle, knees and lower back.
                Insoles or orthotics may be recommended.</p>
            </div>
          </div>
        </div>


        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">

              <h4 class="service-title">
                <a href="">Orthotics</a>
              </h4>
              <p class="service-description">A liner for your footwear to correct walking and reduce common biomechanical problems such as heel pain, to
                relieve stress from injured areas and provide support to overloaded joints. A wide variety of customised
                orthotics and pre-fabricated orthotics are available.</p>
            </div>
          </div>
        </div>

        <div class="col-md-12 top-buffer"></div>



        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">
              <h4 class="service-title">
                <a href="">Nail surgery</a>
              </h4>
              <p class="service-description">A one hour appointment to remove the whole or part of the effected toe nail. A chemical called phenol is used
                to ensure the offending portion of nail does not grow back. Nail surgery without phenalisation is also provided.
                Patients are assessed for suitability of surgery and referred to the hospital if deemed unsuitable.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">

              <h4 class="service-title">
                <a href="">Biomechanical Assessment</a>
              </h4>
              <p class="service-description">Examines the manor in which feet function when weight bearing and non weight bearing as well as during gait.
                This test checks for abnormalities and possible causes of pain in the foot, ankle, knees and lower back.
                Insoles or orthotics may be recommended.</p>
            </div>
          </div>
        </div>


        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">

              <h4 class="service-title">
                <a href="">Redressing appointments</a>
              </h4>
              <p class="service-description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
        </div>

        <div class="col-md-12 top-buffer"></div>





        <div class="col-md-4 hold">
          <div class="col-md-12 box">
            <div class="col-xs-12">

              <h4 class="service-title">
                <a href=""></a>
              </h4>
              <p class="service-description"></p>
            </div>
          </div>
        </div>



        <div class="col-md-4 hold">
          <div class="col-md-12" style="background:rgb(216, 216, 216); padding:30px 0 2px 4px; height:260px; border-radius: 5px;">
            <div class="service-icon">
              <i class="fa fa-desktop"></i>
            </div>
            <h4 class="service-title">
              <a href=""></a>
            </h4>
            <p class="service-description"></p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Subscrbe Section
  ============================-->
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Subscribe For Updates</h3>
          <p class="subscribe-text">Join our 100+ subscribers and get access to the latest treatments in podiatry, services, health products and amazing
            discounts!
          </p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#">Subscribe Now</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Porfolio Section
  ============================-->
  <section id="portfolio" class="activateno">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Portfolio</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-1.jpg);" href="">
            <div class="details">
              <h4>Portfolio 1</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-2.jpg);" href="">
            <div class="details">
              <h4>Portfolio 2</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-3.jpg);" href="">
            <div class="details">
              <h4>Portfolio 3</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-4.jpg);" href="">
            <div class="details">
              <h4>Portfolio 4</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-5.jpg);" href="">
            <div class="details">
              <h4>Portfolio 5</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-6.jpg);" href="">
            <div class="details">
              <h4>Portfolio 6</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-7.jpg);" href="">
            <div class="details">
              <h4>Portfolio 7</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-8.jpg);" href="">
            <div class="details">
              <h4>Portfolio 8</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Testimonials Section
  ============================-->
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Happy Patients</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Read what other patients of the clinic think about us</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic">
              <img src="img/client-1.jpg" alt="">
            </div>
            <h4>Saul Goodman</h4>
            <span>Lawless Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b>
              <img src="img/quote_sign_left.png" alt="">
            </b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam,
            ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
            <small>
              <img src="img/quote_sign_right.png" alt="">
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b>
              <img src="img/quote_sign_left.png" alt="">
            </b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
            rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae.
            <small>
              <img src="img/quote_sign_right.png" alt="">
            </small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic">
              <img src="img/client-2.jpg" alt="">
            </div>
            <h4>Sara Wilsson</h4>
            <span>Odeo Inc</span>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description activateno">
            Our staff are all fully qualified podiatrists with degrees in podiatric medicine and registered with the Health and Care
            Professions Council, and Society of Chiropodists and Podiatrists. They have worked through out the UK in the
            NHS and private care. They have specialist expertise  in the care of diabetic feet and wounds. Members of the
            team have worked on hospital wards, A&E, Ambulatory care, in Orthopedic clinics, the community, and in a domiciliary
            setting. They are able to treat a wide range of foot problems including fungating wounds, necrobiosis lipodica
            diabactorum, acute and chronic osteomyelitis, infected gangrenous limbs, wounds caused through neglect and post
            surgical wounds.
          </p>
          <p class="section-description">Meet the team of excellent podiatrists and health professionals ready to take care of your feet in the Beute Clinic</p>
        </div>
      </div>

      <div class="row" align="center">
        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <img src="img/hannahphoto2.png" alt="Hannah Beute MsC Podiatrist">
            </div>
            <h4>Hannah Beute</h4>
            <span>MsC Podiatrist</span>
            <div class="social">
              <a href="">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <img src="img/.jpg" alt="">
            </div>
            <h4>Team member 2</h4>
            <span>Job Title</span>
            <div class="social">
              <a href="">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <img src="img/.jpg" alt="">
            </div>
            <h4>Team member 3</h4>
            <span>Job Title</span>
            <div class="social">
              <a href="">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <img src="img/.jpg" alt="">
            </div>
            <h4>Team member 4</h4>
            <span>Job Title</span>
            <div class="social">
              <a href="">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3">

        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <img src="img/.jpg" alt="">
            </div>
            <h4>Team member 5</h4>
            <span>Job Title</span>
            <div class="social">
              <a href="">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="member">
            <div class="pic">
              <img src="img/.jpg" alt="">
            </div>
            <h4>Team member 6</h4>
            <span>Job Title</span>
            <div class="social">
              <a href="">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>



        <div class="col-md-12">
          <p></p>
        </div>

      </div>



    </div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact" class="">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact Us</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Unit K- Wagon Yard
                <br>London Road
                <br>Marlborough SN8 1LH</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p> hsvbeute@gmail.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>01672288943
                <br>07707697396
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email"
                />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"
                />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center">
                <button type="submit">Send Message</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright 2018
            <strong>The Beute Clinic</strong>. All Rights Reserved
            <div class="top-buffer"></div>
          </div>
          <div class="col-xs-12 social" align="center">
            <a href="">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="">
              <i class="fa fa-google-plus"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>

          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Bootstrap Templates by
            <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>

  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
  </a>

  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/morphext/morphext.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>

  <script src="contactform/contactform.js"></script>


</body>

</html>